{% extends "_base.html" %}

{% block content %}
  <h2>{% if form.instance.pk %}Edit{% else %}Create{% endif %} Training</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    {{ formset.management_form }}
    <div id="formset">
      {% for subform in formset %}
        <div class="formset-row">
          {{ subform.id }}
          {{ subform.exercise }}
          {{ subform.reps }}
          <button type="button" class="remove-formset-row">Remove</button>
        </div>
      {% endfor %}
    </div>
    <button type="button" id="add-exercise">Add Exercise</button>
    <button type="submit" class="btn btn-main">Save</button>
  </form>
  <a class="btn btn-main" href="{% url 'trainings' %}">Cancel</a>
{% endblock %}

{% block scripts %}
  {{ formset.media }}
  <script>
  $(document).ready(function() {
      var formset = $('#id_trainingexercise_set-TOTAL_FORMS').val();
      var addButton = $('#add-exercise');
      var formWrapper = $('#formset');

      addButton.on('click', function(event) {
          event.preventDefault();
          var newFormset = formset++;
          var newFormHtml = formWrapper.data('form').replace(/__prefix__/g, newFormset);
          formWrapper.append(newFormHtml);
          $('#id_trainingexercise_set-TOTAL_FORMS').val(formset);
      });

      formWrapper.on('click', '.remove-formset-row', function(event) {
          event.preventDefault();
          $(this).closest('.formset-row').remove();
          formset--;
          $('#id_trainingexercise_set-TOTAL_FORMS').val(formset);
      });
  });
  </script>
{% endblock %}
