{% for training in event.trainings.all %}
    <div class="card mb-4 mt-2 bg-dark">
        <h5 class="card-header text-center bd-dark-header">Training: {{ training.name }}
            (<small>{{ training.get_category_display }}</small>)</h5>
        <div class="card-body">
            {% for training_exercise in training.trainingexercise_set.all|sort_query_set:"exercise__created_at" %}
                <div class="card mb-4 mt-2 bg-dark">
                    <h5 class="card-header text-center bd-dark-header">Exercise: {{ training_exercise.exercise.name }}
                        (<small>{{ training_exercise.exercise.get_category_display }}</small>)</h5>
                    <div class="card-body">
                    <div class="d-flex justify-content-around">
                        {% for rep in training_exercise.reps %}
                            <div class="btn btn-outline-light" hx-get="{% url "hx-training-exercise-rep-edit" training_exercise.id training_exercise.training.id forloop.counter0 %}">
                                {{ rep }}
                            </div>
                        {% endfor %}
                    </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endfor %}
