<h2>Profile hx</h2>
<div style="text-align: center;">
{% if profile.avatar %}
  <p><strong></strong><br> <img src="{{ profile.avatar.url }}" alt="Avatar" style="max-width: 200px; max-height: 200px;"></p>
{% endif %}
<p><strong>Email:</strong> {{ user.email }}</p>
<p><strong>First Name:</strong> {{ profile.first_name }}</p>
<p><strong>Last Name:</strong> {{ profile.last_name }}</p>
<p><strong>Birth Date:</strong> {{ profile.birth_date }}</p>
<p><strong>Gender:</strong> {{ profile.get_gender_display }}</p>
<p><strong>Weight:</strong> {{ profile.weight }} kg</p>
<p><strong>Height:</strong> {{ profile.height }} cm</p>
<p><strong>BMI:</strong> {{ profile.bmi }}</p>
<a class="btn btn-main" href="{% url 'edit_profile' %}">Edit Profile</a>
</div>
