body {
  background: rgb(27, 33, 42);
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6, p {
  color: #ffffff;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: rgb(44, 41, 41);
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff !important; /* Wymuszona zmiana koloru tekstu  */
}

.btn-navbar {
    background-color: #3d3b3b; /* Kolor tła */
    color: #ffffff;           /* Kolor tekstu */
    border: none;             /* Usunięcie obramowania */
    padding: 5px 10px;        /* Odstępy wewnętrzne */
    border-radius: 3px;       /* Zaokrąglone rogi */
    cursor: pointer;          /* Kursor wskazujący na kliknięcie */
    text-decoration: none;    /* Usunięcie podkreślenia tekstu */
    margin-right: 10px;
}

.btn-navbar:hover {
    background-color: #0c0c0c; /* Kolor tła przy najechaniu kursorem */
    color: #ffffff;            /* Kolor tekstu przy najechaniu kursorem */
}


.btn-main {
    background: #3d3b3b;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
    margin-right: 10px; /* Dodanie odstępu między przyciskami */
    margin-bottom: 10px; /* Dodanie odstępu dolnego */
}

.btn-main:hover {
    background: #0c0c0c;
    color: #ffffff;
}

.btn-second {
    background: #3d3b3b;
    color: #ffffff;
    border: none;
    padding: 2px 5px;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
    margin-right: 10px; /* Dodanie odstępu między przyciskami */
    margin-bottom: 10px; /* Dodanie odstępu dolnego */
}

.btn-second:hover {
    background: #0c0c0c;
    color: #ffffff;
}

.white-font {
    color: white !important;
}

.black-font {
    color: #0c0c0c !important;
}

.calendar {
            table-layout: fixed;
}
.calendar th, .calendar td {
            width: 14.285%;
            border: 1px solid #0c0c0c;
            vertical-align: top;
            position: relative;
}

.calendary-today {
    --bs-table-color-state: white;
    --bs-table-bg-state: #7aa5e3;
}

.past-day {
    --bs-table-color-state: #0c0c0c;
    --bs-table-bg-state: rgba(203, 213, 219, 0.47);
}

.bg-dark {
    background-color: rgb(42, 50, 65) !important;
    color: white !important;
    border-color: #404a65;
}

.form-check-input {
    background-color: unset !important;
}

.bd-dark-header {
    border-bottom: 1px solid #404a65;
}
